#listview-header( class= 'listviewheader border-top border-bottom')
    .listviewheadergroup
        img.imagebutton( id= 'button-back' data-method= 'get' data-url= backUrl src= '/images/icons/arrow-previous-01.png' )
    .listviewheadergroup
        h3= title
    div( style= 'flex-grow:1; flex-shrink:1; width: 16px;' )
    .listviewheadergroup
        - var _newMethod = newMethod || 'post';
        - var _newUrl = newUrl || baseUrl;
        div( id= 'button-add' class= 'addbutton white' data-method= _newMethod data-url= _newUrl data-payload= newEntry )
.listviewcontent
    each item in data
        .listitem( data-method= 'get' data-url= item.url )
            - var name = item.name || 'Untitled';
            h2= name
            div( id= 'button-delete-' + item._id class= 'deletebutton white' data-method= 'delete' data-confirm= 'true' data-url= item.url )
            

