.listviewheader#listview-header
    .listviewheadergroup
        img#button-back.imagebutton( data-method= 'get' data-url= '/users' src= '/images/icons/arrow-previous-01.png' )
    div( style= 'flex-grow:1; flex-shrink:1; width: 16px;' )
    .listviewheadergroup
        h3= user.username
form#user-form( action='/users/' + user._id method='put' enctype='application/x-www-form-urlencoded' )
    .form-content
        if error
            h3#register-error( style='color: red' ) #{error}
        .form-item
            label.form-item( for='username' ) Username #[img.form-item(src='/images/icons/user.png')]
            input.form-item#username( type='text' name='username' placeholder='enter username' required minlength="6"  value= user.username )
        .form-item
            label.form-item( for='email' ) Email #[img.form-item(src='/images/icons/email.png')]
            input.form-item#email( type='email' name='email' placeholder='enter email' required  value= user.email )
        .form-item
            label.form-item( for='password' ) Password (optional)#[img.form-item(src='/images/icons/password.png')]
            input.form-item#password( type='password' name='password' placeholder='enter new password' )
        .form-item#confirm-password-item( style= 'visibility: collapse;')
            label.form-item( for='confirmpassword' ) Confirm Password #[img.form-item(src='/images/icons/password.png')]
            input.form-item#confirm-password( type='password' name='confirmpassword' placeholder='confirm new password' )
        div( style="display: flex; flex-direction: row; justify-content: space-between;")
            input.form-item( type='submit' value='Update' )      
script.
    //
    // form validation
    //
    let email = document.querySelector('#email');
    email.addEventListener('input', (e) => {
        if (email.validity.typeMismatch) {
            email.setCustomValidity('valid email required');
        } else {
            email.setCustomValidity('');
        }
    });
    let password = document.querySelector('#password');
    let confirmPasswordItem = document.querySelector('#confirm-password-item');
    let confimPassword = confirmPasswordItem.querySelector('#confirm-password');
    password.addEventListener('input', (e) => {
        if( password.value.length > 0 ) {
            confirmPasswordItem.style.visibility = 'visible';
            if ( password.value.length < 6 ) {
                password.setCustomValidity('longer than 6 characters');
            } else {
                password.setCustomValidity('');
            }
        } else {
            password.setCustomValidity('');
            confirmPasswordItem.style.visibility = 'collapse';
            confimPassword.setCustomValidity('');
        }
    });
    confimPassword.addEventListener('input', (e) => {
        if( password.value.length > 0 ) {}
        if ( password.value !== confimPassword.value ) {
            confimPassword.setCustomValidity('passwords must match');
        } else {
            confimPassword.setCustomValidity('');
        }
    });

    